/*.layout-fixed:not(.layout-collapsed) .layout-container, .layout-fixed-offcanvas:not(.layout-collapsed) .layout-container{*/
/*	padding-left: 0!important;*/
/*}*/
.bootstrap-tagsinput input, .bootstrap-tagsinput-input{
	width: 80px!important;
}
.nav-link {
	font-size: 14px;
	color: black;
	font-weight: bolder;
}
.mb-10{
	margin-bottom: 10px;
}
.ion {
	font-weight: bold;
	color: black;
	font-size: 15px;
}

.ion {
	font-weight: normal;
	color: inherit;
	font-size: 15px;
}

.camp-text {
	color: black;
	font-size: 15px;
}

.ic-bulb {
	font-weight: bold;
	color: #e8de1c;
	font-size: 25px;
}

.dotd {
	height: 14px;
	width: 14px;
	background-color: #00b3b3;
	border-radius: 50%;
	display: inline-block;
}

.dotl {
	height: 14px;
	width: 14px;
	background-color: #c7c5c5;
	border-radius: 50%;
	display: inline-block;
}

.dots {
	height: 14px;
	width: 14px;
	background-color: #757575;
	border-radius: 50%;
	display: inline-block;
}


/*account settings*/

.account-settings-fileinput {
	position: absolute;
	visibility: hidden;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.account-settings-links .list-group-item.active {
	background: transparent !important;
	font-weight: bold !important;
}

.account-settings-multiselect ~ .select2-container {
	width: 100% !important;
}

.material-style .account-settings-links .list-group-item {
	padding: 0.85rem 1.5rem;
	border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
	color: #4E5155 !important;
}

.chat-wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	min-height: calc(100vh - 120px) !important;
	width: 100%;
}

.message-from {
	padding: 0 !important;
	font-weight: bolder;
}

.message-status {
	padding: 0 !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 222px;
}

/*.material-style .chat-contacts .list-group-item {
	padding-left: 0 !important;
	padding-bottom: 1.85rem;
	border-bottom: 1px solid #e6e6e6;
}

.material-style .chat-contacts .list-group-item:hover {
	background-color: #d1f1ff;
	border-left: 1px solid #0ab3fc;
}

.material-style .chat-contacts .list-group-item.activechat {
	background-color: #fff;
	border-left: 1px solid #0ab3fc;
}*/

/*.chat-sidebox {
	background: #ededed!important;
}*/

.permissionTD {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.campaignText {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #057326;
	border-color: #057326;
}

.custom-control-label::before {
	margin-left: 16px;
}

.btn-cp {
	text-transform: none!important;
}

.conversion-info {
	min-height: calc(100vh - 120px) !important;
}

.chat-ui .received-chat .msg-date {
	position: absolute;
	top: -20px;
	left: 0;
}

.chat-ui .send-chat .msg-date {
	position: absolute;
	top: -20px;
	right: 0;
}
.custom-input .custom-control-label::before {
    margin-left: 0;
}
.custom-input .custom-control {
    padding-left: 1.688rem;
}
#site_settings .card-header {
    background: #1E9FF2;
}
#site_settings .card .card-header a{
    color: #fff !important;
}

#site_settings .card .card-header .collapse-icon::after{
    border-bottom: 0.0625rem solid rgb(255, 255, 255);
    border-left: 0.0625rem solid rgba(255, 255, 255, 0.98);
}
.mtb-10{
	margin: 10px 0;
}
.tbl-responsive{
	padding: 0px 15px;
}
.filter-input{
	width: 160px;
	margin-left: 20px;
}
.filter-text{
	width: 90px;
    margin-left: 10px;
    margin-top: 8px;
}